<div class="boljomir_container">
  <h1>Featuring boljomir</h1>

  <div class="video_container">
    <h2>200 IQ</h2>
    <video preload="metadata" class="video" controls="controls" src="~/videos/Ljopi.mp4"/>
  </div>


  <div class="video_container">
      <h2>Deagle master</h2>
      <video preload="metadata" class="video" controls="controls" src="~/videos/boljimir.mp4"/>
    </div>
</div>
